.cart-icon-container {
  position: absolute;
  width: 100px;
  height: 50px;
  right: 10vw;
  top: 9px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}



.cart-icon-img {
  width: 45px;
  height: 40px;
}