.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  gap: 30px;
}

.checkout-container > div {
  font-weight: 900;
  font-size: 5rem;
}

.checkout-container > a > button {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;

  border: 0;
  color: #fff;
  border: 3px solid transparent;
  border-color: #000;
  color: #000;
  background: transparent;
  font-weight: 800;
  transition: background, color 0.1s ease-in-out;
}

.checkout-container > a > button {
  padding: 20px;
  border: 7px solid transparent;
  font-size: 3rem;
  border-color: #000;
}

.checkout-container > a > button:hover {
  background-color: #000;

  color: #fff;
}
