.navbar-container {
  height: 70px;
  /* center div horizontally */
  /* width: 50%;
  margin: 0 auto; */
  /*                          */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: grey;
}
ul { 
  padding: 0; 
  list-style: none; 
  display: table;
  text-align: center;
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
.link {
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 5px 5px;
  position: relative;
  margin: 20px;
}
.link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: rgb(255, 255, 255);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after { 
  width: 100%; 
  left: 0; 
}
